/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

anchorPane{
	-fx-background-color: white;
}
Button{
	-fx-background-color: #29BD10;
	-fx-text-fill:white;
}
TextField,
PasswordField,
TextArea{
	-fx-background-color: white;
	-fx-border-color: lightgrey;
	-fx-border-radius: 5px;
}

.LeftBox{
	-fx-background-color: linear-gradient(to top, #0F4706, #29BD10);
	-fx-background-repeat: no-repeat;
}
.darkBtn{
	-fx-background-color:#166308 ; /* 1C539E*/
	-fx-border-radius: 5px;
}

.courrierBox{
	-fx-background-radius:15px;
	-fx-background-color:#FFF;
}